<gps-page-list 
    #gpsPageList
    p-title="#[Table.description]#"
    [p-actions]="pageActions"
    [disclaimer-config]="pageDisclaimerConfig"
    [(filter)]="filter"
    (on-search)="applySimpleFilter($event)"
    (on-advanced-search)="applyAdvancedFilter($event)"
    (before-advanced-search)="restoreAdvancedFilterDefaults()">
    <div class="po-row">
        <po-table 
            class="po-md-12"
            p-striped
            [p-columns]="listColumns"
            [p-items]="listItems"
            [p-show-more-disabled]="!listHasNext"
            (p-show-more)="onShowMore($event)">
        </po-table>

        <ng-template gps-advanced-search>
            <div class="po-row">
                #[whileFields,isFilter=true]#           
                *[html/advancedFilterZoom.txt,!zoomComponent=|isRangeFilter=false]**[html/advancedFilterZoomRange.txt,!zoomComponent=|isRangeFilter=true]**[html/advancedFilterEnum.txt,!enumComponent=|isRangeFilter=false]**[html/advancedFilterEnumRange.txt,!enumComponent=|isRangeFilter=true]**[html/advancedFilterNumber.txt,inputType=Number|enumComponent=|zoomComponent=|isRangeFilter=false]**[html/advancedFilterNumberRange.txt,inputType=Number|enumComponent=|zoomComponent=|isRangeFilter=true]**[html/advancedFilterSwitch.txt,inputType=Boolean|enumComponent=|zoomComponent=|isRangeFilter=false]**[html/advancedFilterSwitchRange.txt,inputType=Boolean|enumComponent=|zoomComponent=|isRangeFilter=true]**[html/advancedFilterInput.txt,inputType=String|enumComponent=|zoomComponent=|isRangeFilter=false]**[html/advancedFilterInputRange.txt,inputType=String|enumComponent=|zoomComponent=|isRangeFilter=true]*
                #[endWhileFields]#
            </div>
        </ng-template>
    </div>
</gps-page-list>
