<gps-page-list 
    #gpsPageList
    [p-title]="pageController.title"
    [p-actions]="pageController.actions"
    [disclaimer-config]="pageFilter.disclaimerConfig"
    [(filter)]="pageFilter.filter"
    (on-search)="applySimpleFilter($event)"
    (on-advanced-search)="applyAdvancedFilter($event)"
    (before-advanced-search)="pageFilter.restoreAdvancedFilterDefaults()">
    <div class="po-row">
        <po-table 
            class="po-md-12"
            p-striped
            [p-columns]="pageController.listColumns"
            [p-items]="pageController.listItems"
            [p-show-more-disabled]="!pageFilter.listHasNext"
            (p-show-more)="onListShowMore($event)">
        </po-table>

        <ng-template gps-advanced-search>
            <div class="po-row">
                #[whileFields,isFilter=true]#           
                *[html/advancedFilterZoom.txt,!zoomComponent=|isRangeFilter=false]**[html/advancedFilterZoomRange.txt,!zoomComponent=|isRangeFilter=true]**[html/advancedFilterEnum.txt,!enumComponent=|isRangeFilter=false]**[html/advancedFilterEnumRange.txt,!enumComponent=|isRangeFilter=true]**[html/advancedFilterNumber.txt,inputType=Number|enumComponent=|zoomComponent=|isRangeFilter=false]**[html/advancedFilterNumberRange.txt,inputType=Number|enumComponent=|zoomComponent=|isRangeFilter=true]**[html/advancedFilterSwitch.txt,inputType=Boolean|enumComponent=|zoomComponent=|isRangeFilter=false]**[html/advancedFilterSwitchRange.txt,inputType=Boolean|enumComponent=|zoomComponent=|isRangeFilter=true]**[html/advancedFilterInput.txt,inputType=String|enumComponent=|zoomComponent=|isRangeFilter=false]**[html/advancedFilterInputRange.txt,inputType=String|enumComponent=|zoomComponent=|isRangeFilter=true]*
                #[endWhileFields]#
            </div>
        </ng-template>
    </div>
</gps-page-list>
