<gps-page-list #gpsPageList
    [p-title]="pageTitle"
    [p-actions]="pageActions"
    [disclaimer-config]="pageDisclaimerConfig"
    [(filter)]="filter"
    (on-search)="applySimpleFilter($event)"
    (on-advanced-search)="applyAdvancedFilter($event)"
    (before-advanced-search)="restoreAdvancedFilterDefaults()">
    <div class="po-row">
        <po-table 
            class="po-md-12"
            p-striped
            [p-actions]="listActions"
            [p-columns]="listColumns"
            [p-items]="listItems"
            [p-show-more-disabled]="!listHasNext"
            (p-show-more)="onShowMore($event)">
        </po-table>

        <ng-template gps-advanced-search>
            <div class="po-row">
                #[whileFields,isFilter=true]#           
                *[html/advancedFilterInputRangeField.txt,isRangeFilter=true]**[html/advancedFilterInputField.txt,isRangeFilter=false]*
                #[endWhileFields]#
            </div>
        </ng-template>
    </div>
</gps-page-list>
