<po-page-detail
    t-title="Detalhes do #[Table.description]#">
    <ng-container *ngIf="data">
        <div class="po-row">
        #[whileFields]#
            <po-info
                class="po-md-6"
                t-label="#[Field.description]#"        
                [t-value]="data.#[IF,!zoomComponent=]#$#[endIF]##[IF,!enumComponent=]#$#[endIF]##[Field.name]##[IF,!zoomComponent=]#Description#[endIF]##[IF,!enumComponent=]#Description#[endIF]##[IF,databaseType=date|zoomComponent=|enumComponent=]# | date:'dd/MM/yyyy'#[endIF]##[IF,databaseType=logical|zoomComponent=|enumComponent=]# | booleanFormat#[endIF]#">
            </po-info>
        #[endWhileFields]#
        </div>
    </ng-container>
</po-page-detail>
